.row {
    margin-left: 0;
    margin-right: 0;
}

.form-group.has-warning .form-control {
  background: #474747 none repeat scroll 0 0;
    border-color: #f39c12;
    box-shadow: none;
    color: #fff;
    font-size: 1.2em;
}

.form-groupb.has-warningb .form-control {
  background: #E5DF46 none repeat scroll 0 0;
    border-color: #A39F26;
    box-shadow: none;
    color: #000;
    font-size: 1.2em;
    height: 1.8em;
	font-weight:bolder;
}